################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/solutions/cpp/src/2022/.vs/AoC2022
/solutions/cpp/src/2022/bin

# cpp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*\bin
*\.vs